<ion-content>
<ion-header>
  <ion-toolbar class="bg-header">
    <ion-title>Cadastrar Nova Notícia</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid fixed="true">


    <ion-item class="item">
      <ion-textarea auto-grow="true" placeholder="Legenda" [(ngModel)]="legenda"></ion-textarea>
    </ion-item>

    <!-- início -->
    <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
      <!-- <ion-card-header>
        <ion-card-title>Foto do Noticia</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <ion-button color="success" shape="round" size="small">
          <span>Selecione uma Imagem</span>
          <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target.files)" />
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Carregamento Imagem -->
    <ion-card class="ion-text-center" *ngIf="isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title>Arquivo selecionado:<b>{{ fileName }}</b></ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div *ngIf="percentage | async as pct">
          Progresso: {{ pct | number }}%
          <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
        </div>
        <div *ngIf="snapshot | async as snap">
          <!-- erro -->
          Tamanho do Arquivo: {{ snap.totalBytes | fileSizePipe }} Transferido:
          {{ snap.bytesTransferred | fileSizePipe }}
          <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
            <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
            <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
            <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <!-- fim -->

    <!-- upload imagem -->
    <ion-card class="ion-text-center" *ngIf="!isUploading && isUploaded">
      <ion-card-content>
        <div *ngIf="UploadedFileURL | async as url">
          <img [src]="url" />
          <ion-item class="item">
            <ion-textarea auto-grow="true" [(ngModel)]="imgNoticia" value="{{ UploadedFileURL  | async}}">
            </ion-textarea>
          </ion-item>
        </div>
        Tamanho da Imagem: {{ fileSize | fileSizePipe }}
      </ion-card-content>
    </ion-card>
    <!-- fim -->

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="addNoticia()" [disabled]="!legenda">
          Publicar Notícia
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
