ion-toolbar {
  --background: url('../../../assets/img/barra2.png') no-repeat fixed center; 
}
ion-item {
  --background: url('../../../assets/img/background.png') no-repeat center center / cover !important;
}
ion-content {
  --background: url('../../../assets/img/background.png') no-repeat center center / cover !important;
}
ion-card {
  background: #ffffff;
}
ion-card-content{
  white-space: normal !important;
  color: rgb(53, 50, 50) !important;
  font-size: 15px !important;
  font-weight: 500 !important;
}

  .iframe-container {
    overflow: hidden;
    // Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625)
    padding-top: 56.25%;
    position: relative;
  }
   
  .iframe-container iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }