<ion-header>
    <ion-toolbar class="bg-header">
        <ion-title style="text-align: center !important;">Fórum</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="ion-no-margin pdb-10" *ngFor="let item of perguntas" style="border-radius: 25px;
    margin: 15px;">
        <ion-grid>
            <span *ngIf="!item.isEdit; else elseBlock">

        <ion-row>
          <ion-col size="2" class="ion-align-self-start">
            <div class="wrap-avatar circle" (click)="abrirGaleria()">
              <img [src]="item.usuarioFoto" />
            </div>
          </ion-col>
          <ion-col size="10">
            <div>
              <h2 class="txt-dark  fw-600 fs-18" style="margin-top: 15px; font-size: 14px !important;">{{ item.usuario }}</h2>
            </div>
          </ion-col>
          <!-- <ion-col size="4">
            //Toolbar Postagem
            <ion-toolbar>

              <ion-buttons slot="end" *ngIf="user.uid == item.id_user_pergunta">
                <ion-button color="primary" fill="clear" (click)="EditRecord(item)">
                  <ion-icon name="create"></ion-icon>
                </ion-button>
                <ion-button color="danger" fill="clear" (click)="RemoveRecord(item.id)">
                  <ion-icon name="trash"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
           // Fim Toolbar Postagem
          </ion-col> -->

        </ion-row>
<div style="border-radius: 10px;" [ngStyle]="{'background-color':item.categoria === 'categoria1' ? '#698eac' : '#7dd1f0' }">
        <ion-row [routerLink]="['/comentarios-forum/' + item.id]"
          routerdirection="forward">
          <div>
            <p class="txt-light fs-17 pd-10 ion-text-justify">{{item.pergunta}}</p>
          </div>
        </ion-row>
      </div>
        <div *ngFor="let coment of comments" >
          <div *ngIf="coment.id_pergunta == item.id"  >
          <ion-row class="pdt5" >
            <ion-col size="2" class="ion-align-self-start">
              <div class="wrap-avatar circle">
                <img [src]="coment.usuarioFoto" />
              </div>
            </ion-col>
            <ion-col size="10" class="txt-dark  fw-400 pdl-10 fs-15 ion-text-justify" style="margin-top: 15px; font-size: 12px !important;">
              <strong>{{coment.usuario}}</strong> {{coment.comentario}}
            </ion-col>
          </ion-row>
        </div>
        </div>

        <ion-button expand="full" fill="clear" style="font-size: 12px;" [routerLink]="['/comentarios-forum/' + item.id]">
          Ver postagem
        </ion-button>

      </span>
        </ion-grid>
        <ng-template #elseBlock>

            <ion-card-header>
                <ion-card-title>
                    <ion-item class="txt-dark fs-15 pd-10 edi-pergunta">
                        <ion-textarea type="text" [(ngModel)]="item.editPergunta"></ion-textarea>
                    </ion-item>
                    <ion-grid>
                        <ion-row class="txt-dark fs-15 pd-10">

                            <ion-col>
                                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                                    Cancelar
                                </ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                                    Atualizar
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-card-title>
            </ion-card-header>

        </ng-template>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [routerLink]="['/addpergunta']" routerdirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>