<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/inicio/painel/forum"></ion-back-button>
      </ion-buttons>
      <ion-title>Expressem sua opnião</ion-title>
      <!-- <ion-buttons slot="end">
          <ion-button fill="clear" (click)="abrirMenu($event)">
              <ion-icon name="ellipsis-vertical"></ion-icon>
          </ion-button>
      </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let item of pergunta">
  
    <ion-grid>
      <span *ngIf="!item.isEdit; else elseBlock">

        <ion-row>
          <ion-col size="2" class="ion-align-self-start">
            <div class="wrap-avatar circle" (click)="abrirGaleria()">
              <img [src]="item.usuarioFoto" />
            </div>
          </ion-col>
          <ion-col size="6" >
            <div >
              <h2 class="txt-dark  fw-600 fs-18" style="margin-top: 15px;">{{ item.usuario }}</h2>
            </div>
          </ion-col>
          <ion-col size="4">
            <!-- Toolbar Postagem-->
            <ion-toolbar>
              
              <ion-buttons slot="end" *ngIf="user.uid == item.id_usuario">
                  <ion-button color="primary" fill="clear" (click)="EditRecord(item)">
                    <ion-icon name="create"></ion-icon>
                  </ion-button>
                  <ion-button color="danger" fill="clear" (click)="RemoveRecord(idpergunta)">
                      <ion-icon name="trash"></ion-icon>
                  </ion-button>
              </ion-buttons>
          </ion-toolbar>
          <!-- Fim Toolbar Postagem-->
          </ion-col>
          
        </ion-row>

        <ion-row class="bg-pergunta">
            <div >
              <p class="txt-light fs-17 pd-10 ion-text-justify">{{item.pergunta}}</p>
          </div>
        </ion-row>
      </span>
    </ion-grid>
    <ng-template #elseBlock>
      
      <ion-card-header>
        <ion-card-title>
          <ion-item class="txt-dark fs-15 pd-10 edi-pergunta">
            <ion-textarea type="text" [(ngModel)]="item.editPergunta"></ion-textarea>
          </ion-item>
          <ion-grid>
            <ion-row class="txt-dark fs-15 pd-10">
              
              <ion-col>
                <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                  Cancelar
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                  Atualizar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-title>
      </ion-card-header>
    </ng-template>

  <p  class="txt-dark  fw-500 pdl-20 fs-15">Comentários</p>
  <ion-grid *ngFor="let coment of comentarios" >
    <ion-list class="ion-no-margin" >
      <ion-item>
      <ion-row>
        <ion-col size="2" class="ion-align-self-start">
          <div class="wrap-avatar circle" (click)="abrirGaleria()">
            <img [src]="coment.usuarioFoto" />
          </div>
        </ion-col>
        <ion-col size="10" class="txt-dark  fw-400 pdl-20 fs-15 ion-text-justify">
          <strong>{{coment.usuario}}</strong> {{coment.comentario}}
        </ion-col>
      </ion-row>
    </ion-item>

    </ion-list>
  </ion-grid>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="10">
  <ion-input placeholder="Comente algo..." [(ngModel)]="comentario"></ion-input>
</ion-col>
<ion-col size="2">
  <ion-buttons end>
    <ion-button icon-right (click)="criarComentario()">
      <ion-icon icon-only name="send"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-col>
</ion-row>
</ion-grid>
  </ion-toolbar>
</ion-footer>

